<form action="/admin" method="post">
		<input type="text" name="title">
    <textarea type="text" name="blogContent"></textarea>
		<p>	Image: <input type="file" name="upload"> </p>
    <button type="submit">submit</button>
</form>
{{#each data}}
	<a href="/blogPost/{{id}}">
		<li>{{title}}</li>
	</a>
	<a href="/editBlogPost/{{id}}">
		<button>Edit</button>
	</a>
	<form action="/deleteBlogPost" method="post">
		<input type="hidden" name="id" value="{{id}}">
		<button type="submit">Delete</button>
	</form>
{{/each}}
