<form action="/editBlogPost" method="post">
  <input type="text" name="title" value={{title}}>
  <textarea type="text" name="content">{{content}}</textarea>
  <button type="submit">Submit Changes</button>
</form>
